<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>事件</title>
    <style type="text/css">
        body{background-color: #015659;color:#FFFFC5;}
        a{color:#FFFFC5;text-decoration: none;}
        .mainBox{font-size:16px;}
        .a{word-wrap:break-word;color:green;}
        .item{display: flex; margin-bottom: 20px;}
        .item .info{flex:1;}
        .item .tips{color:#666;}
    </style>
  </head>
<body>

    <div class="mainBox">
        <div class="item">
            <span class="lab">测试test：</span>
            <div class="info">
                <div>
                    <a class="a" href="test.html" target="_blank">点击查看</a>
                </div>
                <div class="tips"></div>
            </div>
        </div>
        <div class="item">
            <span class="lab">常用事件：</span>
            <div class="info">
                <div>
                    <a class="a" href="otherEvents.html" target="_blank">点击查看</a>
                </div>
                <div class="tips">注:如页面/div滚动，改变窗口大小等事件</div>
            </div>
        </div>
        <div class="item">
            <span class="lab">css事件穿透：</span>
            <div class="info">
                <div>
                    <span>.pointerEvents{pointer-events: none;}</span>
                    <a class="a" href="cssEvents.html" target="_blank">点击查看</a>
                </div>
                <div class="tips">注:none为穿透，设置后任何事件都无效，设置auto可改为不穿透</div>
            </div>
        </div>
    </div>

    <script type="text/javascript" charset="utf-8">

    </script>
</body>
</html>