<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>常用事件</title>
    <script type="text/javascript" src="../public/js/jquery-2.1.4.min.js"></script>
    <style type="text/css">
        body{background-color: #223545;color:#999;}
        .mainBox{font-size:16px;}
        .btn{position:absolute;right:10px;top:10px;z-index:1;display:inline-block;padding:5px 20px;line-height:20px;color:#fff;font-size:14px;background-color:#EE7701;border-radius:5px;}
        .explainBox{display: none;font-size:14px;color: dimgray;}
    </style>
  </head>
<body>
    <span class="btn" atr="0">说明</span>
    <pre class="mainBox">
        //页面可视视口大小
        window.onresize = function(){
             console.log($("body").width());
        }

        //页面滚动
        $(window).on("scroll", function(e){
            var scrollTop = $(window).scrollTop();
            var windowHeight = $(window).height();
            var documentHeight = $(document).height();
            console.log(scrollTop+"|"+windowHeight+"|"+documentHeight+"|"+(scrollTop+windowHeight));
            if (scrollTop + windowHeight == documentHeight) {
                //加载下一页
            }
        });

        //div滚动
        &lt;div id="div-box" style="height:200px;overflow-y:auto;"&gt;
            &lt;div class="list-box" style="height:500px;"&gt;内容&lt;/div&gt;
        &lt;/div&gt;
        $("#div-box").scroll(function(){
            var scrollTop=$("#div-box")[0].scrollTop;
            var boxHeight=$("#div-box").height();
            var listBoxHeight=$("#div-box .list-box").height();
            console.log(scrollTop+"|"+boxHeight+"|"+listBoxHeight+"|"+(scrollTop+boxHeight));
            if (scrollTop + boxHeight == listBoxHeight) {
                //加载下一页
            }
        })

        //阻止页面滚动
        document.body.addEventListener('touchmove', function (e) {
          e.preventDefault(); //阻止默认的处理方式(阻止下拉滑动的效果)
        }, {passive: false}); //passive 参数不能省略，用来兼容ios和android

        //关闭当前窗口
        window.onbeforeunload=function(e){
            var e = window.event||e;
            e.returnValue=("确定离开当前页面吗？");
        }
    </pre>

    <pre class="explainBox">
        说明
    </pre>

    <script type="text/javascript" charset="utf-8">
        $(".btn").click(function(){
            var atr=$(this).attr("atr");
            if(atr=="0"){
                $(this).attr("atr","1");
                $(".mainBox").hide();
                $(".explainBox").show();
            }
            else{
                $(this).attr("atr","0");
                $(".mainBox").show();
                $(".explainBox").hide();
            }
        });
    </script>
</body>
</html>