<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>事件测试</title>
    <script type="text/javascript" src="../public/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/test.js"></script>
    <style type="text/css">
        body{background-color: #015659;color:#FFFFC5;}
        a{color:#FFFFC5;text-decoration: none;}
        .mainBox{font-size:16px;}
    </style>
  </head>
<body>

    <div class="mainBox">
        测试
    </div>

    <script type="text/javascript" charset="utf-8">

    </script>
</body>
</html>