<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>md5加密</title>
	<link rel="stylesheet" type="text/css" href="../public/css/trpm-public.css">
	<link rel="stylesheet" type="text/css" href="../public/css/style.css">
	<style type="text/css">
		.pre{color:#999;}
    </style>
	<script type="text/javascript" src="../public/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="lib/md5.js"></script>
  </head>
<body>
    <div class="mainBox">
		<div class="line">---------------------------------------------------------调用---------------------------------------------------</div>
		<pre class="pre">
			//value 表示你要加密的数据
			
			hex_md5(value)

			b64_md5(value)

			str_md5(value)

			hex_hmac_md5(key, data)

			b64_hmac_md5(key, data)

			str_hmac_md5(key, data)

		</pre>
	</div>
	
    <div class="copyright">
        <a href="http://www.beian.miit.gov.cn/" target="_blank">豫ICP备19017767号</a>
    </div>
	
	<script type="text/javascript" charset="utf-8">

	</script>
</body>
</html>