<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>hls</title>
    <style type="text/css">
        *{margin: 0;padding: 0;}
		body{background-color: #223545;color:#999;}
        .mainBox{padding: 50px 10px;font-size:14px;}
        .a{color:dimgray;text-decoration: none;}
        .line{padding-top: 10px;padding-bottom: 10px;}
        .item{line-height: 20px; margin-bottom: 10px;}
        .item .info .li{padding-left: 20px;color: #000;}
        .item .info .z{color: #777;}
    </style>
  </head>
<body>
    <div class="mainBox">
        <div class="line">-----------------------------hls相关-------------------------------------</div>
        <div class="item">
            <div class="lab">hls.js：</div>
            <div class="info">
                <div class="li">网页1：<a class="a" href="https://blog.csdn.net/wsln_123456/article/details/105365576" target="_blank">https://blog.csdn.net/wsln_123456/article/details/105365576</a></div>
                <div class="li">网页2：<a class="a" href="https://blog.csdn.net/u011857683/article/details/84863250?utm_medium=distribute.pc_relevant_t0.none-task-blog-BlogCommendFromMachineLearnPai2-1.control&dist_request_id=1328592.8488.16147407069149677&depth_1-utm_source=distribute.pc_relevant_t0.none-task-blog-BlogCommendFromMachineLearnPai2-1.control" target="_blank">https://blog.csdn.net/u011857683/article/details/84863250?utm_medium=distribute.pc_relevant_t0.none-task-blog-BlogCommendFromMachineLearnPai2-1.control&dist_request_id=1328592.8488.16147407069149677&depth_1-utm_source=distribute.pc_relevant_t0.none-task-blog-BlogCommendFromMachineLearnPai2-1.control</a></div>
            </div>
        </div>
    </div>

	<script type="text/javascript" charset="utf-8">

	</script>
</body>
</html>