/* 弹框主体 */
.trpm-alert.resource-alert .trpm-inp::-webkit-input-placeholder{color:#999;font-size:14px;}
.trpm-alert.resource-alert .trpm-inp:-moz-placeholder{color:#999;font-size:14px;}
.trpm-alert.resource-alert .trpm-inp::-moz-placeholder{color:#999;font-size:14px;}
.trpm-alert.resource-alert .trpm-inp:-ms-input-placeholder{color:#999;font-size:14px;}
.trpm-alert.resource-alert{display: block;}
.trpm-alert.resource-alert .trpm-mc{flex-direction:column;left:50%;top:50%;transform:translate(-50%,-50%);width:872px;height:600px;padding:0;opacity:1;}
.trpm-alert.resource-alert .trpm-mc .trpm-x{transform:rotate( 0deg );font-size: 0;}
.trpm-alert.resource-alert .trpm-mc .trpm-x .iconfont{font-size: 20px;}
.trpm-alert.resource-alert .trpm-mc .trpm-x .iconfont:hover{color: #5085FB;}
.trpm-alert.resource-alert .trpm-mc .trpm-tl{padding:12px 12px;margin-bottom:1px;font-size:16px;font-weight:600;border-radius:6px 6px 0 0;box-shadow:0px 0px 6px 0px rgb(0 0 0 / 8%);}
.trpm-alert.resource-alert .trpm-mc .trpm-tl .tag .sp{margin-right: 12px;}
.trpm-alert.resource-alert .m-d{flex: 1;}
.trpm-alert.resource-alert .m-d .lf{padding:12px 0 0 12px;background-color:#f6f6f6;}
.trpm-alert.resource-alert .m-d .rg{flex-direction:column;flex: 1;padding-left: 12px;}
.trpm-alert.resource-alert .trpm-mc .btn-d{justify-content:flex-end;margin-top:1px;padding:12px 12px;border-radius:0 0 6px 6px;box-shadow:0px 0px 6px 0px rgb(0 0 0 / 8%);}
.trpm-alert.resource-alert .trpm-mc .btn-d .cou-d{flex: 1; color:#666;text-align: left;}
.trpm-alert.resource-alert .trpm-mc .btn-d .trpm-btn{min-width: 84px; line-height:32px;padding:0px 15px;border:1px solid #5085FB;background-color:#5085FB;border-radius:10px;text-align: center;}
.trpm-alert.resource-alert .trpm-mc .btn-d .trpm-btn.btn-cancel{margin-right: 12px; background-color:transparent;border:1pt solid #999999;color:#999;}
.trpm-alert.resource-alert .trpm-mc .btn-d .trpm-btn .iconfont{padding-right: 6px;}
/* 弹框搜索 */
.trpm-alert.resource-alert .ser-d{padding:12px 12px 16px 0;justify-content:space-between;}
.trpm-alert.resource-alert .ser-d .inp-d{position:relative;height:30px;width:260px;overflow:hidden;background-color:#F2F2F2;border:1px solid #F2F2F2;border-radius:6px;}
.trpm-alert.resource-alert .ser-d .inp-d:hover{background-color:#fff;border:1px solid #E7e7e7;}
.trpm-alert.resource-alert .ser-d .inp-d .inp{padding-right:32px;border:none;}
.trpm-alert.resource-alert .ser-d .btn-ser{position:absolute;right:0;top:0;z-index:1;width:30px;height:30px;line-height:30px;text-align:center;cursor:pointer;}
.trpm-alert.resource-alert .ser-d .inp-d:hover .btn-ser{color:#5085fb;}
.trpm-alert.resource-alert .ser-d .btn-up{background-color: #FFB324;border: 1px solid #FFB324;}
/*弹框左侧树目录*/
.trpm-alert.resource-alert .tree-boxs{height: 100%;}
.trpm-alert.resource-alert .tree-boxs .tree-box{height: 100%;}
.trpm-alert.resource-alert .tree-uls{width:188px;height:100%;line-height:36px;overflow-y:auto;padding-right:10px;}
.trpm-alert.resource-alert .tree-uls .tree-ul{padding-left: 18px;}
.trpm-alert.resource-alert .tree-uls .tree-one-ul{padding-left: 0px;}
.trpm-alert.resource-alert .tree-uls .tree-li{width: 100%;}
.trpm-alert.resource-alert .tree-uls .tree-tl{position: relative;display: flex;align-items: center;justify-content: space-between; height: 36px;padding:0 8px 0 12px;border-radius: 8px;}
.trpm-alert.resource-alert .tree-uls .tree-tl:hover{background-color: #DCE7FF;color: #5085FB;}
.trpm-alert.resource-alert .tree-uls .tree-tl.active{background-color: #5085FB;color: #fff;}
.trpm-alert.resource-alert .tree-uls .tree-tl .tl-lf{flex:1;position: relative;z-index: 1; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding-right: 8px;cursor: pointer;}
.trpm-alert.resource-alert .tree-uls .tree-tl .tl-rg{z-index: 1;}
.trpm-alert.resource-alert .tree-uls .tree-tl .arrow{display: inline-block; font-size: 12px;color: #ccc;}
.trpm-alert.resource-alert .tree-uls .tree-tl:hover .arrow{color: #5085FB;}
.trpm-alert.resource-alert .tree-uls .tree-tl.active .arrow{color: #fff;}
.trpm-alert.resource-alert .tree-uls .tree-tl.show-sub .arrow{margin-right: 2px;transform: rotate(90deg);}
.trpm-alert.resource-alert .tree-uls .tree-tl .folder{ display: inline-block;width: 16px;height: 16px;margin-left: 2px; margin-right: 5px; background: url(../img/group_icon.png) no-repeat -59px -33px/106px auto;vertical-align: text-top;}
.trpm-alert.resource-alert .tree-uls .tree-tl.active .folder{background-position: -85px -32px;}
.trpm-alert.resource-alert .tree-uls .tree-tl .cou{color: #b1b2b2;}
.trpm-alert.resource-alert .tree-uls .tree-tl:hover .cou{color: #5085FB;}
.trpm-alert.resource-alert .tree-uls .tree-tl.active .cou{color: #fff;}
.trpm-alert.resource-alert .tree-uls .tree-tl .striped{position:absolute;z-index:0;top:0;right:0px;bottom:0;width:188px;border-radius:8px;}
.trpm-alert.resource-alert .tree-uls .tree-tl:hover .striped{background-color: #DCE7FF;}
.trpm-alert.resource-alert .tree-uls .tree-tl.active .striped{background-color: #5085FB;}
/* 右侧标题 */
.trpm-alert.resource-alert .bti{padding-bottom: 10px;font-size: 14px; color: #666;}
.trpm-alert.resource-alert .bti .sq{padding-left: 12px;font-size: 12px; cursor: pointer;}
.trpm-alert.resource-alert .bti .jt{font-size: 14px;}
.trpm-alert.resource-alert .bti .sq.in .jt{transform: rotate(180deg);}
/* 右侧文件夹 */
.trpm-alert.resource-alert .folder-box{display: none;width: 100%;overflow: hidden;padding-bottom: 4px;}
.trpm-alert.resource-alert .folder-box .folder-ul{display: flex; align-content:flex-start;flex-wrap:wrap;min-height: 77px; overflow: hidden;}
.trpm-alert.resource-alert .folder-box .folder-ul .folder-li{width: 25%;}
.trpm-alert.resource-alert .folder-box .folder-ul .folder-li .m{display: flex;align-items: center; margin-right: 12px;margin-bottom: 12px;padding: 12px; background-color: #F2F2F2;border-radius: 6px;cursor: pointer;}
.trpm-alert.resource-alert .folder-box .folder-ul .folder-li .m:hover{opacity: 0.8;}
.trpm-alert.resource-alert .folder-box .folder-ul .folder-li .img{width: 46px;height: 40px;}
.trpm-alert.resource-alert .folder-box .folder-ul .folder-li .img img{width: 100%;height: 100%;}
.trpm-alert.resource-alert .folder-box .folder-ul .folder-li .info{flex:1;padding-left: 12px;}
.trpm-alert.resource-alert .folder-box .folder-ul .folder-li .name{line-height: 20px;height: 20px;overflow: hidden;}
.trpm-alert.resource-alert .folder-box .folder-ul .folder-li .cou{padding-top: 5px;color: #999;}
.trpm-alert.resource-alert .folder-box .folder-ul .empty{width: 100%;height: 77px;line-height: 77px;color: #999;font-size: 14px; text-align: center;}
/* 弹框列表 */
.trpm-alert.resource-alert .boxs{flex: 1;}
.trpm-alert.resource-alert .boxs .box{height: 100%;background-color: transparent;}
.trpm-alert.resource-alert .boxs .scroll{height: 100%;overflow-x: hidden;overflow-y: auto;}
.trpm-alert.resource-alert .boxs .list{flex-wrap:wrap;align-items:flex-start;}
.trpm-alert.resource-alert .boxs .list .li{width: 16.66%;}
.trpm-alert.resource-alert .boxs .list .li .m{position:relative;width:calc(100% - 12px);height:calc(100% - 12px);margin:0 12px 12px 0;cursor: pointer;}
.trpm-alert.resource-alert .boxs .list .li:hover .m{opacity: 0.9;}
.trpm-alert.resource-alert .boxs .list .li.on .m{opacity: 1;}
.trpm-alert.resource-alert .boxs .list .li.no .m{opacity: 0.8;}
.trpm-alert.resource-alert .boxs .list .li .name{position:absolute;left:0;bottom:0px;z-index:1;width:100%;line-height:28px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#fff;background-color:rgba(0,0,0,0.5);border-radius:0 0 5px 5px;text-align:center;}
.trpm-alert.resource-alert .boxs .list .li .img{position:relative;width:100%;border-radius:6px;background-repeat:no-repeat;background-size:cover;background-position:center;}
.trpm-alert.resource-alert .boxs .list .li .img::before{display: block;content: "";padding-bottom: 100%;}
.trpm-alert.resource-alert .boxs .list .li .img img{position: absolute;left: 0;top: 0;z-index: 1; width: 100%;height: 100%;border-radius: 6px;}
.trpm-alert.resource-alert .boxs .list .li .gou{display:none;position:absolute;right:6px;top:6px;z-index:2;width:16px;height:16px;background-image:url(../img/gou.png);background-color:transparent;background-repeat:no-repeat;background-position:center;background-size:100% 100%;cursor:pointer;}
.trpm-alert.resource-alert .boxs .list .li:hover .gou,
.trpm-alert.resource-alert .boxs .list .li.on .gou,
.trpm-alert.resource-alert .boxs .list .li.no .gou{display: block;}
.trpm-alert.resource-alert .boxs .list .li.in .gou{display: none;}

