<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>收藏链接</title>
    <link rel="stylesheet" type="text/css" href="public/css/trpm-public.css">
	<link rel="stylesheet" type="text/css" href="public/css/style.css">
    <style type="text/css">
        .mainBox{padding-left: 20px;}
        a{color:#FFFFC5;text-decoration: none;}
        .a{word-wrap:break-word;color:#666;}
        .line{padding: 10px 0;}
        .item{display: flex; padding:0 0 12px 12px;} 
        .item .li{padding-bottom: 6px;}
        .item .info{flex:1;}
        .item .tips{color:#666;}
    </style>
  </head>
<body>
    <div class="mainBox">
        <div class="line">-----------------------------插件-------------------------------------</div>
        <div class="item">
            <div class="lab">Swiper：</div>
            <div class="info">
                <div class="li">Swiper：<a class="a" href="https://www.swiper.com.cn/" target="_blank">https://www.swiper.com.cn/</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">滚动条[jquery.nicescroll]：</div>
            <div class="info">
                <div class="li">官网：<a class="a" href="https://nicescroll.areaaperta.com/
                    " target="_blank">https://nicescroll.areaaperta.com/</a></div>
                <div class="li">github.com：<a class="a" href="https://github.com/inuyaksa/jquery.nicescroll/blob/master/README.md
                        " target="_blank">https://github.com/inuyaksa/jquery.nicescroll/blob/master/README.md</a></div>
                <div class="li">其他1：<a class="a" href="http://caibaojian.com/nicescroll.html
                            " target="_blank">http://caibaojian.com/nicescroll.html</a></div>
                <div class="li">其他2：<a class="a" href="https://blog.csdn.net/a460550542/article/details/89456815
                                " target="_blank">https://blog.csdn.net/a460550542/article/details/89456815</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">分页[jquery.pagination]：</div>
            <div class="info">
                <div class="li">jquery.pagination：<a class="a" href="http://www.jq22.com/yanshi5697/
                    " target="_blank">http://www.jq22.com/yanshi5697/</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">百度上传：</div>
            <div class="info">
                <div class="li">官网：<a class="a" href="http://fex.baidu.com/webuploader/" target="_blank">http://fex.baidu.com/webuploader/</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">iscroll：</div>
            <div class="info">
                <div class="li">iscroll-5：<a class="a" href="http://caibaojian.com/iscroll-5/" target="_blank">http://caibaojian.com/iscroll-5/</a></div>
                <div class="li">iscroll-5：<a class="a" href="https://iiunknown.gitbooks.io/iscroll-5-api-cn/content/" target="_blank">https://iiunknown.gitbooks.io/iscroll-5-api-cn/content/</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">报表：</div>
            <div class="info">
                <div class="li">highcharts 官网：<a class="a" href="https://www.highcharts.com.cn/" target="_blank">https://www.highcharts.com.cn/</a></div>
            </div>
            <div class="info">
                <div class="li">echarts 官网：<a class="a" href="https://echarts.apache.org" target="_blank">https://echarts.apache.org</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">高德地图：</div>
            <div class="info">
                <div class="li">官网：<a class="a" href="https://lbs.amap.com/" target="_blank">https://lbs.amap.com/</a></div>
                <div class="li">marker定位 bug 解决总结：<a class="a" href="https://www.cnblogs.com/1wen/p/4745683.html" target="_blank">https://www.cnblogs.com/1wen/p/4745683.html</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">提示信息 jquery.tips：</div>
            <div class="info">
                <div class="li">jquery.tips：<a class="a" href="https://www.oschina.net/code/snippet_864431_38328" target="_blank">https://www.oschina.net/code/snippet_864431_38328</a></div>
            </div>
        </div>
        <div class="line">-----------------------------JS-------------------------------------</div>
        <div class="item">
            <div class="lab">JavaScript：</div>
            <div class="info">
                <div class="li">JavaScript：<a class="a" href="http://c.biancheng.net/view/5351.html" target="_blank">http://c.biancheng.net/view/5351.html</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">es6：</div>
            <div class="info">
                <div class="li">es6：<a class="a" href="https://es6.ruanyifeng.com/?search=import&x=6&y=2" target="_blank">https://es6.ruanyifeng.com/?search=import&x=6&y=2</a></div>
                <div class="li">es6：<a class="a" href="http://caibaojian.com/es6/" target="_blank">http://caibaojian.com/es6/</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">Canvas：</div>
            <div class="info">
                <div class="li">中文API：<a class="a" href="https://www.canvasapi.cn/" target="_blank">https://www.canvasapi.cn/</a></div>
                <div class="li">中文API：<a class="a" href="https://developer.mozilla.org/zh-CN/docs/Web/API/Canvas_API" target="_blank">https://developer.mozilla.org/zh-CN/docs/Web/API/Canvas_API</a></div>
                <div class="li">动画交互案例：<a class="a" href="https://wow.techbrood.com/fiddle/41597" target="_blank">https://wow.techbrood.com/fiddle/41597</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">fetch异步请求：</div>
            <div class="info">
                <div class="li">参考地址1：<a class="a" href="https://www.ruanyifeng.com/blog/2020/12/fetch-tutorial.html" target="_blank">https://www.ruanyifeng.com/blog/2020/12/fetch-tutorial.html</a></div>
                <div class="li">参考地址2：<a class="a" href="http://www.manongjc.com/detail/17-omlvauujpvrikrj.html" target="_blank">http://www.manongjc.com/detail/17-omlvauujpvrikrj.html</a></div>
                <div class="li">参考地址3：<a class="a" href="https://blog.csdn.net/qq_45677671/article/details/123837481" target="_blank">https://blog.csdn.net/qq_45677671/article/details/123837481</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">添加/移除事件：</div>
            <div class="info">
                <div class="li">网页1：<a class="a" href="https://blog.csdn.net/qq_29606781/article/details/67650869" target="_blank">https://blog.csdn.net/qq_29606781/article/details/67650869</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">浅拷贝和深拷贝：</div>
            <div class="info">
                <div class="li">网页1：<a class="a" href="https://www.jb51.net/article/91906.htm" target="_blank">https://www.jb51.net/article/91906.htm</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">合并多个对象：</div>
            <div class="info">
                <div class="li">网页1：<a class="a" href="other/assign.html" target="_blank">other/assign.html</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">封装：</div>
            <div class="info">
                <div class="li">网页1：<a class="a" href="https://segmentfault.com/a/1190000015843072?utm_source=tag-newest" target="_blank">https://segmentfault.com/a/1190000015843072?utm_source=tag-newest</a></div>
                <div class="li">网页2：<a class="a" href="https://www.cnblogs.com/windy-xmwh/p/8116786.html" target="_blank">https://www.cnblogs.com/windy-xmwh/p/8116786.html</a></div>
                <div class="li">网页3：<a class="a" href="https://blog.csdn.net/qq_34562689/article/details/78357663" target="_blank">https://blog.csdn.net/qq_34562689/article/details/78357663</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">立即执行：</div>
            <div class="info">
                <div class="li">网页1：<a class="a" href="https://www.jianshu.com/p/46cee4854af0" target="_blank">https://www.jianshu.com/p/46cee4854af0</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">闭包：</div>
            <div class="info">
                <div class="li">网页1：<a class="a" href="https://www.cnblogs.com/Renyi-Fan/p/11590231.html" target="_blank">https://www.cnblogs.com/Renyi-Fan/p/11590231.html</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">视频教程：</div>
            <div class="info">
                <div class="li">网页1：<a class="a" href="https://www.bilibili.com/video/BV13v411k7jk?p=276" target="_blank">https://www.bilibili.com/video/BV13v411k7jk?p=276</a></div>
            </div>
        </div>
        <div class="line">-----------------------------CSS-------------------------------------</div>
        <div class="item">
            <div class="lab">单位：</div>
            <div class="info">
                <div class="li">rem：<a class="a" href="https://www.w3cplus.com/blog/tags/143.html" target="_blank">https://www.w3cplus.com/blog/tags/143.html</a></div>
                <div class="li">rem & em：<a class="a" href="https://www.w3cplus.com/css/rem-vs-em.html" target="_blank">https://www.w3cplus.com/css/rem-vs-em.html</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">Flex布局：</div>
            <div class="info">
                <div class="li">网页1：<a class="a" href="https://www.runoob.com/w3cnote/flex-grammar.html" target="_blank">https://www.runoob.com/w3cnote/flex-grammar.html</a></div>
            </div>
        </div>
        <div class="line">-----------------------------html-------------------------------------</div>
        
        <div class="line">-----------------------------框架-------------------------------------</div>
        <div class="item">
            <div class="lab">Vue：</div>
            <div class="info">
                <div class="li">Vue：<a class="a" href="https://cn.vuejs.org/" target="_blank">https://cn.vuejs.org/</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">全景krpano：</div>
            <div class="info">
                <div class="li">全景krpano：<a class="a" href="http://www.krpano360.com/" target="_blank">http://www.krpano360.com/</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">Three.js：</div>
            <div class="info">
                <div class="li">Threejs中文网：<a class="a" href="http://www.webgl3d.cn/" target="_blank">http://www.webgl3d.cn/</a></div>
                <div class="li">踏得网：<a class="a" href="https://techbrood.com/threejs/docs/" target="_blank">https://techbrood.com/threejs/docs/</a></div>
                <div class="li">WebGI中文网：<a class="a" href="http://www.hewebgl.com/" target="_blank">http://www.hewebgl.com/</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">WeUI：</div>
            <div class="info">
                <div class="li">WeUI：<a class="a" href="http://jqweui.com/components" target="_blank">http://jqweui.com/components</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">Bootstrap：</div>
            <div class="info">
                <div class="li">Bootstrap：<a class="a" href="https://www.bootcss.com/" target="_blank">https://www.bootcss.com/</a></div>
            </div>
        </div>
        <div class="line">-----------------------------打包工具-------------------------------------</div>
        <div class="item">
            <div class="lab">rollup.js：</div>
            <div class="info">
                <div class="li">rollup.js：<a class="a" href="https://www.ruanyifeng.com/blog/2022/05/rollup.html" target="_blank">https://www.ruanyifeng.com/blog/2022/05/rollup.html</a></div>
            </div>
        </div>
        <div class="line">-----------------------------视频播放器-------------------------------------</div>
        <div class="item">
            <div class="lab">video.js 平面视频：</div>
            <div class="info">
                <div class="li">github：<a class="a" href="https://github.com/videojs/video.js" target="_blank">https://github.com/videojs/video.js</a></div>
                <div class="li">网页1：<a class="a" href="https://www.bbsmax.com/A/lk5av4Vad1/" target="_blank">https://www.bbsmax.com/A/lk5av4Vad1/</a></div>
                <div class="li">网页2：<a class="a" href="https://www.jqhtml.com/39657.html" target="_blank">https://www.jqhtml.com/39657.html</a></div>
                <div class="li">网页3：<a class="a" href="
                    https://blog.csdn.net/qq_42842709/article/details/84942207" target="_blank"></a></div>
                <div class="li">网页：<a class="a" href="" target="_blank">
                    https://blog.csdn.net/qq_42842709/article/details/84942207</a></div>
                <div class="li">网页4：<a class="a" href="http://coderlt.coding.me/2016/02/26/videojs-readme/" target="_blank">http://coderlt.coding.me/2016/02/26/videojs-readme/</a></div>
                <div class="li">网页5：<a class="a" href="https://blog.csdn.net/little__SuperMan/article/details/89203270" target="_blank">https://blog.csdn.net/little__SuperMan/article/details/89203270</a></div>
                <div class="li">网页6：<a class="a" href="https://blog.csdn.net/little__SuperMan/article/details/89224929" target="_blank">https://blog.csdn.net/little__SuperMan/article/details/89224929</a></div>
                <div class="li">网页7：<a class="a" href="https://blog.csdn.net/zh_rey/article/details/78215968" target="_blank">https://blog.csdn.net/zh_rey/article/details/78215968</a></div>
                <div class="li">网页8：<a class="a" href="https://blog.csdn.net/tt18473481961/article/details/81457826" target="_blank">https://blog.csdn.net/tt18473481961/article/details/81457826</a></div>
                <div class="li">网页9：<a class="a" href="https://www.jianshu.com/p/63c37b4b9abe" target="_blank">https://www.jianshu.com/p/63c37b4b9abe</a></div>
                <div class="li">网页10：<a class="a" href="https://blog.csdn.net/boyit0/article/details/88579330" target="_blank">https://blog.csdn.net/boyit0/article/details/88579330</a></div>
                <div class="li">网页11：<a class="a" href="https://blog.csdn.net/q610376681/article/details/82947321" target="_blank">https://blog.csdn.net/q610376681/article/details/82947321</a></div>
                <div class="li">网页12：<a class="a" href="https://www.cnblogs.com/tinywan/p/6692098.html" target="_blank">https://www.cnblogs.com/tinywan/p/6692098.html</a></div>
                <div class="li">网页13：<a class="a" href="https://www.jianshu.com/p/16fa00a1ca8e" target="_blank">https://www.jianshu.com/p/16fa00a1ca8e</a></div>
                <div class="li">网页14：<a class="a" href="https://blog.csdn.net/a0405221/article/details/80923090" target="_blank">https://blog.csdn.net/a0405221/article/details/80923090</a></div>
                <div class="li">网页15：<a class="a" href="https://www.cnblogs.com/coolicer/p/8330106.html" target="_blank">https://www.cnblogs.com/coolicer/p/8330106.html</a></div>
                <div class="li">网页16：<a class="a" href="https://www.cnblogs.com/saysmy/p/6429835.html" target="_blank">https://www.cnblogs.com/saysmy/p/6429835.html</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">mxreality.js 全景图/全景视频/VR 直播：</div>
            <div class="info">
                <div class="li">github：<a class="a" href="https://github.com/guoguicheng/mxreality.js" target="_blank">https://github.com/guoguicheng/mxreality.js</a></div>
                <div class="li">网页1：<a class="a" href="https://blog.csdn.net/guoguicheng1314/article/details/79444065" target="_blank">https://blog.csdn.net/guoguicheng1314/article/details/79444065</a></div>
                <div class="li">网页2：<a class="a" href="https://blog.csdn.net/guoguicheng1314/article/details/89608983" target="_blank">https://blog.csdn.net/guoguicheng1314/article/details/89608983</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">UtoVR：</div>
            <div class="info">
                <div class="li">官网：<a class="a" href="http://www.utovr.com" target="_blank">http://www.utovr.com</a></div>
            </div>
        </div>
        <div class="line">-----------------------------批处理-------------------------------------</div>
        <div class="item">
            <div class="lab">批处理之家：</div>
            <div class="info">
                <div class="li">官网：<a class="a" href="http://bbs.bathome.net/index.php" target="_blank">http://bbs.bathome.net/index.php</a></div>
            </div>
        </div>
        <div class="line">-----------------------------资源网-------------------------------------</div>
        <div class="item">
            <div class="lab">电脑/系统/软件：</div>
            <div class="info">
                <div class="li">itellyou：<a class="a" href="http://www.itellyou.cn/" target="_blank">http://www.itellyou.cn/</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">前端：</div>
            <div class="info">
                <div class="li">阿西河：<a class="a" href="https://www.axihe.com/console/nav/plugin-js.html" target="_blank">https://www.axihe.com/console/nav/plugin-js.html</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">踏得网：</div>
            <div class="info">
                <div class="li">iscroll-5：<a class="a" href="https://techbrood.com/" target="_blank">https://techbrood.com/</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">菜鸟教程：</div>
            <div class="info">
                <div class="li">菜鸟教程：<a class="a" href="https://www.runoob.com/" target="_blank">https://www.runoob.com/</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">手册网：</div>
            <div class="info">
                <div class="li">手册网：<a class="a" href="http://www.shouce.ren/" target="_blank">http://www.shouce.ren/</a></div>
            </div>
        </div>
        <div class="item">
            <div class="lab">虎课网：</div>
            <div class="info">
                <div class="li">虎课网：<a class="a" href="https://huke88.com/" target="_blank">https://huke88.com/</a></div>
            </div>
        </div>
    </div>

	<script type="text/javascript" charset="utf-8">

	</script>
</body>
</html>