<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <meta name="Keywords" content="测试hammer" >
    <meta name="Description" content="测试hammer">
    <meta name="apple-mobile-web-app-title" content="测试hammer">
    <title>拖拽dragula</title>
    <link rel="stylesheet" href="../public/css/trpm-public.css">
    <link rel="stylesheet" href="css/dragula.min.css">
    <script type="text/javascript" src="../public/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/dragula.min.js"></script>
    <script type="text/javascript" src="../public/js/trpm-public.js"></script>
    <style>
        html{background-color: #eee;}
        a{text-decoration:none;}
        
        .mainBox{padding-top: 40px;}
        .h{justify-content:space-between; padding: 14px 15px; color: rgba(0, 0, 0, 0.6);}
		.drag-box{position: relative;min-height: 200px; margin-top: 0;background-color: #fff;}
        .item{width: 100%;background-color: #fff;}
        .item .m{width: 100%;line-height: 50px; padding: 0px 0 0px 15px; border-bottom: 1px solid #e2e2e2;font-size: 16px;}
        .item .name{flex: 1; color: rgba(0, 0, 0, 0.9);}
        .item .btn{margin-left: 15px;color: #5085FB;cursor: pointer;}
        .item .btn.del{color: rgba(255, 89, 105, 1);}
        .item .drag{padding: 0 15px; font-size: 16px;color: #000;cursor: move;}

         /*说明*/
        .shuomingBtn{position: fixed;right: 10px;top: 10px;z-index: 100;padding: 6px 20px;color: #fff;background-color: #EE7701;border-radius: 5px;}
        .shuoming{display: none; position: fixed;left: 0;top: 0;z-index: 100;width: 100%;height: 100%;padding-left: 20px;padding-top: 20px;background-color: rgba(0,0,0,0.5);}
        .shuoming .bk{position: fixed;left: 0;top: 0;z-index: 1;width: 100%;height: 100%;background-color: rgba(0,0,0,0.5);}
        .shuoming .mc{position: relative;z-index: 2; width: 94%;height: 90%;overflow-y: auto;margin-left: 2%;margin-top: 2%;padding: 10px;box-sizing:border-box; background-color: #fff;}
        .shuoming .h{color: #EE7701;font-size: 20px;}
        .shuoming .a{display: block;margin-top: 20px;color: #78afd3;word-wrap:break-word;}
        .shuoming img{max-width: 100%;}
    </style>
  </head>
  <body>
    <div class="mainBox">
        <div class="trpm-flex-y h">
            <div class="txt">全景分类（最多添加20个）</div>
            <div class="ts">拖动</div>
        </div>
        <section class="drag-box" id="drag-box">
            <div class="item" data-id="1">
                <div class="trpm-flex-y m">
                    <div class="name">1111</div>
                    <div class="trpm-flex-y btns">
                        <div class="btn edit">编辑</div>
                        <div class="btn del">删除</div>
                        <div class="drag">拖动</div>
                    </div>
                </div>
            </div>
            <div class="item" data-id="2">
                <div class="trpm-flex-y m">
                    <div class="name">2222</div>
                    <div class="trpm-flex-y btns">
                        <div class="btn edit">编辑</div>
                        <div class="btn del">删除</div>
                        <div class="drag">拖动</div>
                    </div>
                </div>
            </div>
            <div class="item" data-id="3">
                <div class="trpm-flex-y m">
                    <div class="name">3333</div>
                    <div class="trpm-flex-y btns">
                        <div class="btn edit">编辑</div>
                        <div class="btn del">删除</div>
                        <div class="drag">拖动</div>
                    </div>
                </div>
            </div>
            <div class="item" data-id="4">
                <div class="trpm-flex-y m">
                    <div class="name">4444</div>
                    <div class="trpm-flex-y btns">
                        <div class="btn edit">编辑</div>
                        <div class="btn del">删除</div>
                        <div class="drag">拖动</div>
                    </div>
                </div>
            </div>
            <div class="item" data-id="5">
                <div class="trpm-flex-y m">
                    <div class="name">5555</div>
                    <div class="trpm-flex-y btns">
                        <div class="btn edit">编辑</div>
                        <div class="btn del">删除</div>
                        <div class="drag">拖动</div>
                    </div>
                </div>
            </div>
            <div class="item" data-id="6">
                <div class="trpm-flex-y m">
                    <div class="name">6666</div>
                    <div class="trpm-flex-y btns">
                        <div class="btn edit">编辑</div>
                        <div class="btn del">删除</div>
                        <div class="drag">拖动</div>
                    </div>
                </div>
            </div>
            <div class="item" data-id="7">
                <div class="trpm-flex-y m">
                    <div class="name">7777</div>
                    <div class="trpm-flex-y btns">
                        <div class="btn edit">编辑</div>
                        <div class="btn del">删除</div>
                        <div class="drag">拖动</div>
                    </div>
                </div>
            </div>
            <div class="item" data-id="8">
                <div class="trpm-flex-y m">
                    <div class="name">8888</div>
                    <div class="trpm-flex-y btns">
                        <div class="btn edit">编辑</div>
                        <div class="btn del">删除</div>
                        <div class="drag">拖动</div>
                    </div>
                </div>
            </div>
            <div class="item" data-id="9">
                <div class="trpm-flex-y m">
                    <div class="name">9999</div>
                    <div class="trpm-flex-y btns">
                        <div class="btn edit">编辑</div>
                        <div class="btn del">删除</div>
                        <div class="drag">拖动</div>
                    </div>
                </div>
            </div>
            <div class="item" data-id="10">
                <div class="trpm-flex-y m">
                    <div class="name">aaa</div>
                    <div class="trpm-flex-y btns">
                        <div class="btn edit">编辑</div>
                        <div class="btn del">删除</div>
                        <div class="drag">拖动</div>
                    </div>
                </div>
            </div>
            <div class="item" data-id="11">
                <div class="trpm-flex-y m">
                    <div class="name">bbbb</div>
                    <div class="trpm-flex-y btns">
                        <div class="btn edit">编辑</div>
                        <div class="btn del">删除</div>
                        <div class="drag">拖动</div>
                    </div>
                </div>
            </div>
            <div class="item" data-id="12">
                <div class="trpm-flex-y m">
                    <div class="name">cccc</div>
                    <div class="trpm-flex-y btns">
                        <div class="btn edit">编辑</div>
                        <div class="btn del">删除</div>
                        <div class="drag">拖动</div>
                    </div>
                </div>
            </div>
            <div class="item" data-id="13">
                <div class="trpm-flex-y m">
                    <div class="name">dddd</div>
                    <div class="trpm-flex-y btns">
                        <div class="btn edit">编辑</div>
                        <div class="btn del">删除</div>
                        <div class="drag">拖动</div>
                    </div>
                </div>
            </div>
            <div class="item" data-id="14">
                <div class="trpm-flex-y m">
                    <div class="name">eeee</div>
                    <div class="trpm-flex-y btns">
                        <div class="btn edit">编辑</div>
                        <div class="btn del">删除</div>
                        <div class="drag">拖动</div>
                    </div>
                </div>
            </div>
            <div class="item" data-id="15">
                <div class="trpm-flex-y m">
                    <div class="name">ffff</div>
                    <div class="trpm-flex-y btns">
                        <div class="btn edit">编辑</div>
                        <div class="btn del">删除</div>
                        <div class="drag">拖动</div>
                    </div>
                </div>
            </div>
            <div class="item" data-id="16">
                <div class="trpm-flex-y m">
                    <div class="name">gggg</div>
                    <div class="trpm-flex-y btns">
                        <div class="btn edit">编辑</div>
                        <div class="btn del">删除</div>
                        <div class="drag">拖动</div>
                    </div>
                </div>
            </div>
            <div class="item" data-id="17">
                <div class="trpm-flex-y m">
                    <div class="name">hhhh</div>
                    <div class="trpm-flex-y btns">
                        <div class="btn edit">编辑</div>
                        <div class="btn del">删除</div>
                        <div class="drag">拖动</div>
                    </div>
                </div>
            </div>
            <div class="item" data-id="18">
                <div class="trpm-flex-y m">
                    <div class="name">jjjj</div>
                    <div class="trpm-flex-y btns">
                        <div class="btn edit">编辑</div>
                        <div class="btn del">删除</div>
                        <div class="drag">拖动</div>
                    </div>
                </div>
            </div>
            <div class="item" data-id="19">
                <div class="trpm-flex-y m">
                    <div class="name">kkkk</div>
                    <div class="trpm-flex-y btns">
                        <div class="btn edit">编辑</div>
                        <div class="btn del">删除</div>
                        <div class="drag">拖动</div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 说明 -->
        <div class="shuomingBtn">说明</div>
        <div class="shuoming">
            <div class="bk"></div>
            <div class="mc">
                <div style="color:#999">注意如果拖动父项有滚动：需要在拖动手柄上添加阻止事件</div>
                <pre style="color:#999">
                    $('.drag-box')
                    //阻止父项滚动
                    .on('touchstart',".drag",function(e){
                        e.preventDefault();
                    })
                </pre>
                <div class="h">可参考以下</div>
                <a class="a" href="https://github.com/bevacqua/dragula" target="_blank">https://github.com/bevacqua/dragula</a>
                <a class="a" href="https://blog.csdn.net/m_review/article/details/83621332" target="_blank">https://blog.csdn.net/m_review/article/details/83621332</a>
                <a class="a" href="https://www.jq22.com/demo/dragula-master20161116/" target="_blank">https://www.jq22.com/demo/dragula-master20161116/</a>
                <div class="img"><img src="img/api.jpeg" alt=""></div>
            </div>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8">
        (function(){
            var pageModule={
                data: {
                    "userAgent":null,
                    "eventName":"click",
                    "dragObj":null
                },
                init: function(obj){
                    var _this=this;
                    _this.data.userAgent=trpm_publicModule.userAgent();
                    if(_this.data.userAgent.mobile){
                        _this.data.eventName="touchend";
                    }

                    $(function(){
                        //事件
                        _this.events();
                    });
                },
                //事件
                events: function(obj){
                    var _this=this;
                    _this.data.dragObj=dragula([document.getElementById('drag-box')], {
                        moves: function (el, source, handle, sibling) {
                            // console.log("moves");console.log(el);console.log(source);console.log(handle);console.log(sibling);
                            return handle.className == 'drag';
                        }
                    })
                    //只有顺序改变时才会触发该方法 sibling没有值代表是移动了最后一个位置
                    .on("drop", (el, target, source, sibling) => {
                        // console.log("drop");console.log(el);console.log(target);console.log(source);console.log(sibling);
                        el.className += ' ex-moved';
                        var curObj =el, prevObj, nextObj=sibling;//curObj当前对象 prevObj前一个对象，nextObj后一个对象
                        prevObj=$(curObj).prev();
                        var curId = $(curObj).attr("data-id"),prevId=0,nextId=0;//curId当前对象id prevId前一个对象id，nextId后一个对象id
                        //更新数据
                        var toId=0,method=2; //toId目标id method:1向下2向上
                        if(nextObj){
                            nextId=$(nextObj).attr("data-id");
                            toId=nextId;
                        }
                        else{
                            prevId=$(prevObj).attr("data-id");
                            toId=prevId;
                            method=1;
                        }
                        var params={"id":curId,"toId":toId,"method":method};
                        console.log(params);
                        _this.doMove({
                            "params":params,
                            "callBack":function(bkData){
                                // trpm_publicModule.alertMsg({"ty":0,"txt":"移动成功","second":1500});
                            }
                        });
                    });

                    $('.drag-box')
                    //阻止父项滚动
                    .on('touchstart',".drag",function(e){
                        e.preventDefault();
                    })

                    //说明
                    $(".shuomingBtn").on("click",function(event) {
                        $(".shuoming").show();
                    });
                    $(".shuoming").on("click",".bk",function(event) {
                        $(".shuoming").hide();
                    });
                },
                //移动数据
                doMove:function(obj){
                    console.log(obj);
                }
            }
            pageModule.init();
        }());

    </script>
  </body>
</html>