<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>上传相关 js</title>
    <style type="text/css">
		body{background-color: #223545;color:#ccc;}
        .mainBox{font-size:16px;}
    </style>
  </head>
<body>
    <div class="mainBox">
        <div>动态创建form表单数据上传</div>
        <pre>
            //input file change事件
            $(".box .up-btn .bk input[name=file]").bind("change", function(e){
                let files = this.files;//注意不是e.target.files;
                uploadFile({"files":files});
            })

            //input file change事件
            $(".box").bind("change",'.up-btn .bk input[name=file]', function(e){
                let files = e.target.files; //注意不是this.files;
                uploadFile({"files":files});
            })

            function uploadFile(obj) {
                let files=obj.files;
                let file=files[0];
                let name=file.name;
                console.log(file,file.name);

                var fd = new FormData();
                // fd.append("name",name);
                
                var formData = {
                    "policy": _this.data.panoUpload.formData.policy,
                    "OSSAccessKeyId": _this.data.panoUpload.formData.OSSAccessKeyId,
                    "signature": _this.data.panoUpload.formData.signature,
                    "key": upToOssData.dir + (new Date()).getTime() + '/${filename}',
                    "oss_host": upToOssData.host,
                    "callback": upToOssData.callback,
                };
                for (key in formData) {
                  fd.append(key, formData[key]);
                }
                fd.append("file",file);
          
                $.ajax({
                  url: ajaxUrl,
                  type: 'POST',
                  data: fd,
                  processData: false,
                  contentType: false,
                  cache: false,
                  success: function(bkData) {
                      log(bkData);
                  },
                  error: function(jqXHR, textStatus, errorMessage) {
                      console.log(errorMessage);
                  }
                });
              }
        </pre>

        <div>JS上传图片时获取图片的大小及尺寸</div>
        <pre>
            beforeUpload =(file) =>{
                //首先判断是否是图片格式，
                const isImg = file.type == 'image/jpg' || file.type  == 'image/jpeg' || file.type == 'image/png';
                if(!isImg){
                    console.log('请上传图片')
                    return;
                }

                //判断图片的文件大小
                const fileSizeLt2 = file.size/1024/1024 < 2 ;
                if(fileSizeLt2){
                    console.log(‘图片小于2MB’);
                    return;
                }

                //判断图片的尺寸（做这一块需要了解FileReader  、Image 这两个对象）
                var fileReader  = new FileReader();
                let width = 0;
                let height = 0;
                reader.onload = (e)=>{
                    var imgData = e.target.result;//获取图片的文件流
                    //通过Image 对象去加载图片
                    var image = new Image();
                    image.onload = ()=>{
                        width = image.width;
                        height = image.height;
                        if(width !== height){
                            console.log('图片比例不一致');
                            return ;
                        }
                    }
                    image.src = data;
                } 
                fileReader.readAsDataURL(file);
                return true;
            }
        </pre>

    </div>
	<script type="text/javascript" charset="utf-8">

	</script>
</body>
</html>