<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<title>去除视频某个颜色</title>
	<!-- <link rel="stylesheet" type="text/css" href="../public/css/trpm-public.css"> -->
	<style type="text/css">
		html,body,.mainBox{width: 100%;height: 100%;}
		.delColor-box{position: relative; width: 668px;height: 927px;}
		.delColor-box .video{display: none;}
		.delColor-box .outCvs{width: 100%;height: 100%;cursor: crosshair;}

	</style>
	<!-- <script type="text/javascript" src="../public/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../public/js/trpm-public.js"></script> -->
</head>
<body>
	<div class="mainBox">
		<p>取色色值：<input type="color" id="color"></p>
		<p>容差范围：<input type="number" id="tolerance" min="0" max="255" step="1" value="50"></p>
		<p><button id="button">执行去色</button></p>
		<h4>输出画布</h4>
		<div class="delColor-box">
			<video class="video" id="video" src="" controls controlslist="nodownload nofullscreen"></video>
			<canvas class="outCvs" id="outCvs"></canvas>
		</div>
		
		
	</div>
	<script type="text/javascript" src="js/delVideoColor2.js"></script>
	<script type="text/javascript">

	</script>
</body>
</html>