<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>QQ分享</title>
	<link rel="stylesheet" type="text/css" href="../public/css/trpm-public.css">
	<link rel="stylesheet" type="text/css" href="../public/css/style.css">
	<style type="text/css">
		.mainBox{color:#999;}
    </style>
	<script type="text/javascript" src="../public/js/jquery-2.1.4.min.js"></script>
  </head>
<body>
    <div class="mainBox">
		<div class="line">---------------------------------------------------------QQ分享---------------------------------------------------</div>
		<div><a href="https://wiki.connect.qq.com/sdk%e4%b8%8b%e8%bd%bd" target="_blank">引用</a></div>
		<br/>
		<div><a href="https://wiki.connect.qq.com/js_sdk%e4%bd%bf%e7%94%a8%e8%af%b4%e6%98%8e" target="_blank">JS_SDK使用说明</a></div>
	</div>
	
    <div class="copyright">
        <a href="http://www.beian.miit.gov.cn/" target="_blank">豫ICP备19017767号</a>
    </div>
	
	<script type="text/javascript" charset="utf-8">

	</script>
</body>
</html>