<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>css</title>
    <link rel="stylesheet" type="text/css" href="../public/css/trpm-public.css">
	<link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <style type="text/css">
        .mainBox{font-size:16px;}
        .pre{color:#999;}
		.li{margin-bottom: 12px;}
        .item{display: flex; margin-bottom: 20px;}
        .item .info{flex:1;}
    </style>
  </head>
<body>

    <div class="mainBox">
        <div class="line">--------------------------列表----------------------------------</div>
		<div class="ul">
			<div class="li">css滤镜：<a class="a" href="../filter/css_filter.html" target="_blank">filter/css_filter.html</a></div>
		</div>
        <div class="line">--------------------------其他----------------------------------</div>
        <div class="item">
            <span class="lab">字体：rem</span>
            <div class="info">
                <pre>
                    html{font-size:62.5%;/*也就是10px(1em=1rem=10px) 默认是16px(1em=1rem=16px)*/font-family:"Microsoft YaHei","微软雅黑";}
                    @media screen and (min-width:768px){
                        html{font-size:100%;/*也就是16px(1em=1rem=16px)*/}
                    }
                    .txt{font-size: 1.4rem;/*也就是14px*/}
                    .txt2{font-size: 1.2rem;/*也就是12px*/}
                </pre>
            </div>
        </div>
        <div class="item">
            <span class="lab">保持一定宽高比例：</span>
            <div class="info">
                <a class="a" href="widthHeightPer.html" target="_blank">点击查看</a>
            </div>
        </div>
        <div class="item">
            <span class="lab">事件穿透：</span>
            <div class="info">
                <div>.pointerEvents{pointer-events: none;}</div>
                <div>注:none为穿透，设置后任何事件都无效，设置auto可改为不穿透</div>
            </div>
        </div>
        <div class="item">
            <span class="lab">清除浮动：</span>
            <div class="info">
                <div>.clearfix:after{content:""; display:block; clear:both; visibility:hidden; font-size:0; height:0; line-height:0;}</div>
            </div>
        </div>
        <div class="item">
            <span class="lab">换行：</span>
            <div class="info">.wordBreak{word-wrap: break-word;word-break: normal; word-break:break-all;}</div>
        </div>
        <div class="item">
            <span class="lab">不换行+省略号：</span>
            <div class="info">.ellipsis{display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}</div>
        </div>
        <div class="item">
            <span class="lab">清除 inline-block 空白间距：</span>
            <div class="info">
                &lt;div class="inlineBlock"&gt; <br/>
                    &lt;div&gt;内容&lt;/div&gt; <br/>
                &lt;/div&gt; <br/>

                <div>.inlineBlock{font-size: 0; word-spacing: 0px; letter-spacing: 0px;/*根据不同字体字号或许需要做调整*/}</div>
                <div>.inlineBlock div{display: inline-block; *display: inline; *zoom: 1; letter-spacing: normal; word-spacing: normal; font-size: 14px;}</div>
            </div>
        </div>
        <div class="item">
            <span class="lab">垂直居中：</span>
            <div class="info">
                <div>
                    方法一<br/>
                    &lt;div class="vertical"&gt; <br/>
                        &lt;div&gt;居中内容&lt;/div&gt; <br/>
                    &lt;/div&gt; <br/>

                    <div>.vertical{display: table; width: 100%; height: 100%;}</div>
                    <div>.vertical div{display: table-cell; vertical-align: middle; text-align: center;}</div>
                </div>
                <div>
                    方法二<br/>
                    &lt;div class="vertical"&gt; <br/>
                        &lt;div class="line"&gt;&lt;/div&gt; <br/>
                        &lt;div class="txt"&gt;内容&lt;/div&gt; <br/>
                    &lt;/div&gt; <br/>
                    <div>.vertical{display: block; width: 100%; height: 100%;}</div>
                    <div>.vertical .line{display: inline-block; height: 100%; margin-left: -1px; width: 1px; vertical-align: middle;}</div>
                    <div>.vertical .txt{display: inline-block; vertical-align: middle;}</div>
                </div>
            </div>
        </div>
        <div class="item">
            <span class="lab">三角符号：</span>
            <div class="info">
            <div>.sj{width:0; height:0; line-height:0; overflow:hidden; font-size:0; border-width:8px; border-color:transparent transparent #666 transparent; border-style:dashed dashed solid dashed;}</div>
            </div>
        </div>
        <div class="item">
            <span class="lab">去掉苹果默认按钮样式：</span>
            <div class="info">.btn{ -webkit-appearance: none; border-radius: 0;}</div>
        </div>
        <div class="item">
            <span class="lab">placeholder修改：</span>
            <div class="info">
                <div>.inp::-webkit-input-placeholder { color: #aab2bd;font-size: 12px; text-align: right;}</div>
            </div>
        </div>
        <div class="item">
            <span class="lab">去掉点击背景：</span>
            <div class="info">
                .btn{
                    -webkit-tap-highlight-color:transparent;//方法一
                    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);//方法二
                    tap-highlight-color: rgba(0, 0, 0, 0);//方法三
                }
        </div>
        </div>
        <div class="item">
            <span class="lab">盒子投影：</span>
            <div class="info">.box-shadow{box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);}</div>
        </div>
        <div class="item">
            <span class="lab">控制元素在移动设备上是否使用滚动回弹效果：</span>
            <div class="info">
                <div>-webkit-overflow-scrolling: touch; /* 当手指从触摸屏上移开，会保持一段时间的滚动 */</div>
                <div>-webkit-overflow-scrolling: auto; /* 当手指从触摸屏上移开，滚动会立即停止 */</div>
            </div>
        </div>
        <div class="item">
            <span class="lab">文字投影：</span>
            <div class="info">.text-shadow{text-shadow:5px 5px 5px rgba(0, 0, 0, 0.5);}</div>
        </div>
        <div class="item">
            <span class="lab">颜色继承父类：</span>
            <div class="info">.unset{color: unset;}</div>
        </div>
        <div class="item">
            <span class="lab">滚动条样式（不支持火狐）：</span>
            <div class="info">
                <div>.scrollbar::-webkit-scrollbar { width: 4px; height: 4px;}</div>
                <div>.scrollbar::-webkit-scrollbar-thumb { border-radius: 5px; -webkit-box-shadow: inset 0 0 5px #C1C1C1; background: #C1C1C1;}</div>
                <div>.scrollbar::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2); border-radius: 0; background: #F1F1F1; }</div>
            </div>
        </div>
        <div class="item">
            <span class="lab">定义圆角：</span>
            <div class="info">.radius{border-radius:5px;}</div>
        </div>
        <div class="item">
            <span class="lab">旋转：</span>
            <div class="info">.rotate{transform: rotate(45deg);}</div>
        </div>
        <div class="item">
            <span class="lab">位移：</span>
            <div class="info">.translate{transform: translate(2px 7px);}</div>
        </div>
        <div class="item">
            <span class="lab">缩放：</span>
            <div class="info">.rotate{transform: scale(2px 7px);}</div>
        </div>
        <div class="item">
            <span class="lab">倾斜：</span>
            <div class="info">.skew{transform: skew(2deg 7deg);}</div>
        </div>
        <div class="item">
            <span class="lab">弹框：</span>
            <div class="info">
                &lt;div class="alert"&gt; <br/>
                    &lt;div class="bk">&lt;/div&gt; <br/>
                    &lt;div class="mc"&gt; <br/>
                        &lt;span class="xx">+&lt;/span&gt; <br/>
                    &lt;/div&gt; <br/>
                &lt;/div&gt; <br/>

                <div>.alert{display:none;position:fixed;left:0;top:0;z-index:100;height:100%;width:100%;margin:auto;overflow:hidden;background-color:transparent;}</div>
                <div>.alert .bk{position:absolute;left:0;top:0;height:100%;width:100%;z-index:1;background-color:rgba(0, 0, 0, 0.5);}</div>
                <div>.alert .mc{position: absolute;left: calc(50% - 40%);top: calc(50% - 150px);z-index: 101;width: 80%;height: 300px;color: #333;background: #fff;border-radius: 4px;}</div>
                <div>.alert .mc .xx{display: inline-block;position:absolute;right:0;top:0;width:20px;height:20px;line-height:20px;z-index:100;color:#fff;font-size:20px;text-align: center;background-color:rgba(0, 0, 0, 0.8);border-radius:50%;transform: rotate(45deg);}</div>
            </div>
        </div>

    </div>

    <script type="text/javascript" charset="utf-8">

    </script>
</body>
</html>