<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>ThinkPHP empty</title>
    <style type="text/css">
		body{background-color: #223545;color:#FFFFC5;}
        .mainBox{font-size:16px;}
    </style>
  </head>
<body>
    <pre class="mainBox">
        &lt;if condition="$_baseRtn_['anchorInfo']['city_sign_count'] eq 0"&gt;
            &lt;span&gt;等于0&lt;/span&gt;
        &lt;elseif condition="$_baseRtn_['anchorInfo']['city_sign_count'] eq 1"&gt;
            &lt;span&gt;等于1&lt;/span&gt;
        &lt;elseif condition="$_baseRtn_['anchorInfo']['city_sign_count'] eq 2"&gt;
            &lt;span&gt;等于2&lt;/span&gt;
        &lt;else/&gt;
            &lt;span&gt;等于xx&lt;/span&gt;
        &lt;/if&gt;
    </pre>

	<script type="text/javascript" charset="utf-8">

	</script>
</body>
</html>