<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>账号信息</title>
    <style type="text/css">
		body{background-color: #015659;color:#FFFFC5;}
        .mainBox{padding: 50px 10px;font-size:14px;}
        .a{color:#FFFFC5;text-decoration: none;}
        .item{line-height: 20px; margin-bottom: 10px;}
    </style>
  </head>
<body>
    <div class="mainBox">
        <div class="item">
            <span class="lab">无线网：</span>
            <div class="info">
                <div>hookcloud_5G 密码：yeyu@hookcloud.com</div>
            </div>
        </div>
        <div class="item">
            <span class="lab">foxmail邮箱：</span>
            <div class="info">
                <div>用户名：ruanqiang@hookcloud.com 密码：Rq999666</div>
            </div>
        </div>
        <div class="item">
            <span class="lab">svn：</span>
            <div class="info">
                <div>svn://192.168.103.173/Server/vzhantong/v/Modules</div>
                <div>用户名：ruanqiang 密码：ruanqiang</div>
            </div>
            <div class="info">
                <div>svn://192.168.31.132/Server/waseelive</div>
                <div>用户名：ruanqiang 密码：ruanqiang</div>
            </div>
        </div>
        <div class="item">
            <span class="lab">内网-FTP地址：</span>
            <div class="info">
                <div>192.168.103.173</div>
                <div>用户名：ruanqiang 密码：ruanqiang</div>
            </div>
        </div>
        <div class="item">
            <span class="lab">服务器1-FTP地址：</span>
            <div class="info">
                <div>101.37.18.120</div>
                <div>用户名：ruanqiang 密码：v2TW0WU</div>
            </div>
        </div>
        <div class="item">
            <span class="lab">服务器2-FTP地址：</span>
            <div class="info">
                <div>121.41.58.78</div>
                <div>用户名：ruanqiang 密码：v2TW0WU</div>
            </div>
        </div>
        <div class="item">
            <span class="lab">元宇宙离线导出-FTP地址：</span>
            <div class="info">
                <div>118.31.250.41</div>
                <div>用户名：ruanqiang 密码：HnuNdjEdnSjZ36</div>
            </div>
        </div>
        <div class="item">
            <span class="lab">步进漫游离线导出-FTP地址：</span>
            <div class="info">
                <div>118.31.250.41</div>
                <div>用户名：ruanqiang 密码：HnuNdjEdnSjZ36</div>
            </div>
        </div>
        <div class="item">
            <span class="lab">mantis：</span>
            <div class="info">
                <div>http://192.168.103.173/my_view_page.php</div>
                <div>用户名：ruanqiang 密码：ruanqiang</div>
            </div>
        </div>
        <div class="item">
            <span class="lab">七牛工具：</span>
            <div class="info">
                <div>下载地址：https://developer.qiniu.com/kodo/tools/5972/kodo-browser</div>
                <div>AccessKeyId:  vwbLQlTQh3OToV0XVQUNXF9WjDX1pKNTtblVphjL</div>
                <div>AccessKey Secret: 1XjGRTTIE35phZLUoGmhCzgAtCK9uEFB3bnvKM1s</div>
            </div>
            <span class="lab">七牛网页账号：</span>
            <div class="info">
                <div>http://portal.qiniu.com</div>
                <div>用户名：yeyu@hookcloud.com 密码：APP@v123.cn</div>
                <div>点击 “CDN - 刷新获取” 可清理缓存 </div>
            </div>
            <span class="lab">七牛图片压缩：</span>
            <div class="info">
                <div>http://78re52.com1.z0.glb.clouddn.com/docs/v6/api/reference/fop/image/imageview2.html</div>
            </div>
        </div>
        <div class="item">
            <span class="lab">代理后台：</span>
            <div class="info">
                <div>http://192.168.31.132:8001/Agent/index</div>
                <div>用户名：18616023784 密码：111111</div>
            </div>
        </div>
        <div class="item">
            <span class="lab">crm：</span>
            <div class="info">
                <div>http://192.168.31.132:8002/index.php?g=admin&m=platform&a=table</div>
                <div>用户名：admin 密码：admin@wasee.cn</div>
            </div>
        </div>
        <div class="item">
            <span class="lab">蛙色VR宣传页管理后台：</span>
            <div class="info">
                <div>http://www2.wasee.com/admin/index.html</div>
                <div>用户名：admin 密码：wasee@hookcloud.com</div>
            </div>
        </div>
        <div class="item">
            <span class="lab">微信：</span>
            <div class="info">
                <div>https://res.wx.qq.com/open/js/jweixin-1.0.0.js</div>
            </div>
        </div>
        <div class="item">
            <span class="lab">谷歌地图：</span>
            <div class="info">
                <div>https://webapi.amap.com/maps?v=1.4.14&key=43faad999094b4716a40b38fd90ebe72</div>
                <div>web服务Key：013322815f86b738b1a2f594dc3598d3</div>
                <div>webJS  Key：43faad999094b4716a40b38fd90ebe72</div>
            </div>
        </div>
        <div class="item">
            <span class="lab">krpano：</span>
            <div class="info">
                <div>http://www.krpano360.com/vip5-hotspot/</div>
                <div>登录帐号：think720</div>
                <div>登录密码：waseeVR@2023</div>
            </div>
        </div>
        <div class="item">
            <span class="lab">临云镜登录：</span>
            <div class="info">
                <div>https://signin.aliyun.com/login.htm?callback=https%3A%2F%2Fwww.aliyun.com%2F#/main</div>
                <div>账号：linyunjing@1616781709798473.onaliyun.com 密码：wasee2023</div>
            </div>
        </div>
        <div class="item">
            <span class="lab">蛙色官方账号：</span>
            <div class="info">
                <div>18616023784  密码：147258</div>
                <div>15901381731  密码：jsb32021</div>                
            </div>
        </div>
    </div>

	<script type="text/javascript" charset="utf-8">

	</script>
</body>
</html>