<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>ThinkPHP notempty</title>
    <style type="text/css">
		body{background-color: #223545;color:#FFFFC5;}
        .mainBox{font-size:16px;}
    </style>
  </head>
<body>
    <pre class="mainBox">
        &lt;notempty name="_baseRtn_['anchorInfo']['headimgurl']"&gt;
            &lt;span&gt;不等于空&lt;/span&gt;
        &lt;else/&gt;
            &lt;span&gt;等于空&lt;/span&gt;
        &lt;/notempty&gt;
    </pre>

	<script type="text/javascript" charset="utf-8">

	</script>
</body>
</html>