<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>拖动/缩放/旋转</title>
	<link rel="stylesheet" type="text/css" href="../public/css/trpm-public.css">
	<link rel="stylesheet" type="text/css" href="../public/css/style.css">
	<style type="text/css">
		.pre{color:#999;}
		.li{margin-bottom: 12px;}
    </style>
	<script type="text/javascript" src="../public/js/jquery-2.1.4.min.js"></script>
  </head>
<body>
    <div class="mainBox">
		<div class="line">----------------------------------------列表--------------------------------------------</div>
		<div class="ul">
			<div class="li">hammer：<a class="a" href="../hammer/index.html" target="_blank">hammer 拖动缩放旋转 （pc/mb,推荐）</a></div>
			<div class="li">Sortable：<a class="a" href="../Sortable/index.html" target="_blank">sorstable 拖动排序 （pc/mb,排序拖动推荐）</a></div>
			<div class="li">panzoom：<a class="a" href="../panzoom/index.html" target="_blank">panzoom 拖动缩放 （pc/mb,次推荐）</a></div>
			<div class="li">dragula：<a class="a" href="../dragula/index.html" target="_blank">dragula 拖动排序</a></div>
			<div class="li">gridly：<a class="a" href="../gridly/index.html" target="_blank">jquery.gridly 拖动排序 （不推荐）</a></div>
			<div class="li">jquery-ui：<a class="a" href="../jquery-ui/index.html" target="_blank">jquery-ui 拖动缩放旋转（pc,不推荐）</a></div>
		</div>

		<div class="line">-----------------------------其他----------------------------------</div>
		<pre class="pre">
			
		</pre>
		
    </div>
	
    <div class="copyright">
        <a href="http://www.beian.miit.gov.cn/" target="_blank">豫ICP备19017767号</a>
    </div>
	
	<script type="text/javascript" charset="utf-8">

	</script>
</body>
</html>