<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>input输入框回车事件响应</title>
    <link rel="stylesheet" type="text/css" href="../public/css/trpm-public.css">
	<link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <style type="text/css">
        body{background-color: #223545;color:#999;}
        .mainBox{font-size:16px;}
        .btn{position:absolute;right:10px;top:10px;z-index:1;display:inline-block;padding:5px 20px;line-height:20px;color:#fff;font-size:14px;background-color:#EE7701;border-radius:5px;}
        .explainBox{display: none;font-size:14px;color: dimgray;}
    </style>
    <script type="text/javascript" src="../public/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../../public/js/trpm-public.js"></script>
	<script type="text/javascript">
        trpm_publicModule.init({"public_path":"../public/"});
    </script>
  </head>
<body>
    <span class="btn" atr="0">说明</span>
    <pre class="mainBox">
        方法1
        $("#applyCertNum").on("keypress",function(event){
            if(event.keyCode == 13)      
            {  
                alert('你输入的内容为：' + $('#applyCertNum').val());  
            }  
        });

        方法2
        $("#applyCertNum").keydown(function(e) {
            if (e.keyCode == 13) {  
                alert('你输入的内容为：' + $('#applyCertNum').val());  
            }   
        });
    </pre>
    <pre class="explainBox">
        //input输入框回车事件响应
    </pre>
    
    <div class="copyright">
        <a href="http://www.beian.miit.gov.cn/" target="_blank">豫ICP备19017767号</a>
    </div>

    <script type="text/javascript" charset="utf-8">
        $(".btn").click(function(){
            var atr=$(this).attr("atr");
            if(atr=="0"){
                $(this).attr("atr","1");
                $(".mainBox").hide();
                $(".explainBox").show();
            }
            else{
                $(this).attr("atr","0");
                $(".mainBox").show();
                $(".explainBox").hide();
            }
        });
    </script>
</body>
</html>