<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <meta name="Keywords" content="async" >
    <meta name="Description" content="async">
    <meta name="apple-mobile-web-app-title" content="async">
    <title>ie支持es6语法</title>
    <script src="js/babel-browser1.0.3.min.js" type="text/javascript"></script>
    <script src="js/browser-polyfill3.6.5.js" type="text/javascript"></script>
    <script src="js/index.js" type="text/babel"></script>
  </head>
  <body>
    <script type="text/babel">
        console.log("ie支持es6语法");
	  </script>
  </body>
</html>